# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [1]:
# write your answer here
t=(1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [2]:
# write your answer here
t=(1, 2.3,"hello",True)
for i in t:
    print(i)

1
2.3
hello
True

### Question 3
Find the length of a tuple containing names of 4 students.

In [3]:
# write your answer here
t=("a","b","c","d")
print(len(t))

4

### Question 4
Access and print the last element of a tuple.

In [4]:
# write your answer here
t=(1,2,3,4,5)
print(t[-1])

5

### Question 5
Check whether an element exists in a tuple or not.

In [5]:
# write your answer here
t=(1,2,3,4,5)
print(3 in t)

True

### Question 6
Convert a tuple into a list.

In [6]:
# write your answer here
t=(1,2,3,4,5)
l=list(t)
print(l)

[1, 2, 3, 4, 5]

### Question 7
Convert a list into a tuple.

In [8]:
# write your answer here
l=[1,2,3,4,5,7]
t=tuple(l)
print(t)

(1, 2, 3, 4, 5, 7)

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [9]:
# write your answer here
t=(1,2,3,4,5,1,2,3,4,5)
print(t.count(1))

2

### Question 9
Find the index of an element in a tuple.

In [10]:
# write your answer here
t=(1,2,3,4,5,1,2,3,4,5)
print(t.index(1))

0

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [14]:
# write your answer here
t=("shivam","dada","ror","don")
print(t[3])
t[3]="shivam"
print(t)      # TypeError: 'tuple' object does not support item assignment

don

TypeError: 'tuple' object does not support item assignment